MAX_STREAMS

e.g., for `Initiate`, it may be good to add something like: "... subject to the maximum number of streams allowed by the peer (see RFC 9000, Section 4.6)."  When running out of available streams, the Transport Services System should probably try opening a new QUIC connection, and if that also fails, throw an EstablishmentError.

I noticed the following two sentences:
(for Ready): "This may be delayed if stream creation is blocked due to reaching the maximum streams limit."
(for InitiateError): "Once a QUIC connection is established, allocation of a QUIC stream ID may be delayed, but will not generate an error."

I wonder, where does this come from? Why delay, and not generate an error?   Everything is best effort, so the decision to delay vs. throwing an error can be up to the Transport Services system - but these statements take away the possibility to throw an error if this would be a better decision for some reason.

Also, I wonder: do we want to allow what I wrote above, opening a new QUIC connection when running out of streams?  I guess so, else the system can become quite limiting (we don't know about potential use cases - e.g. in an IoT system...) ... but the number of underlying connections probably has security ramifications. So, if we allow it, this probably warrants a mention in the Security Considerations section.